@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-arrow[type="number"]::-webkit-inner-spin-button,
.hide-arrow[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bg-s {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-in,oklch(var(--in)/var(--tw-bg-opacity)));
}
